@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");
:root {
  --purple: #463593;
  --pink: #db00b3;
  --gradient: linear-gradient(100deg, var(--purple), var(--pink));
  --fontbody: "Source Sans Pro", sans-serif;
  --fontheading: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fontbody);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontheading);
}

.heading {
  font-family: var(--fontheading);
}

p a {
  color: grey;
  text-decoration: none;
  border-bottom: 1px dotted #dddddd;
}

p a:hover {
  color: var(--pink);
}

@media (max-width: 992px) {
  nav {
    background-color: rgba(0, 0, 0, 0.755);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li {
    list-style-type: none;
    margin: 10px 0px !important;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px !important;
    font-size: 1.3rem;
  }
  nav ul li a:hover {
    color: white;
  }
  .section-header {
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
  .section-services {
    -webkit-clip-path: none !important;
            clip-path: none !important;
    background-image: none !important;
  }
  .box {
    border-left: 2px solid var(--pink);
    min-height: unset !important;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px -1px 11px 3px #d0d0d0;
            box-shadow: -1px -1px 11px 3px #d0d0d0;
  }
}

@media (min-width: 768px) {
  nav {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    background-color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  nav ul li {
    list-style-type: none;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px !important;
    font-size: 1rem;
  }
  nav ul li a:hover {
    color: white;
  }
}

.nav-item {
  text-transform: uppercase;
  font-size: 0.9em;
  position: relative;
  margin: 0px 10px;
}

.nav-item:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.nav-item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__button {
  background-color: #535353;
  border-radius: 10px;
}

.brand-text {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  pointer-events: none;
  position: relative;
  left: 0px;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  width: 400px;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

.invisible {
  opacity: 0;
  position: relative;
  left: -10px;
}

.section-header {
  background-image: var(--gradient);
  height: 100vh;
  min-height: 800px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 24%, 83% 80%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 24%, 83% 80%, 0 100%, 0% 50%);
  -webkit-transition: all ease-in-out 0.7s;
  transition: all ease-in-out 0.7s;
}

.section-header p {
  font-weight: 100;
  font-size: 1.9rem;
}

.straight-clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 0 100%, 0% 50%);
}

.section-services {
  background-color: #e9e9e9;
  background-image: url("/img/amber-and-emerald-logo.svg");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-x: 10%;
  -webkit-clip-path: polygon(0 28%, 100% 0, 100% 76%, 0% 100%);
          clip-path: polygon(0 28%, 100% 0, 100% 76%, 0% 100%);
  height: 100%;
  width: 100%;
  overflow: visible;
  padding: 50px 0px;
}

p {
  font-size: 1.3rem;
}

.subhead {
  color: var(--pink);
  font: var(--fontbody);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.dark {
  background-color: rgba(0, 0, 0, 0.755);
}

footer {
  background-color: #333333;
  color: white;
}

footer p {
  font-size: 2rem;
  font-family: var(--fontheading);
}

footer a {
  text-decoration: none;
}

.subfooter {
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #3f3f3f;
  color: #838383;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px;
}

.scale {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.scale:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.flexpower {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexpower img {
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.flexpower img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexpower .bg-object {
  display: block;
  height: 90%;
  width: 90%;
  background-image: url("/img/sky.jpg");
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
          clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  background-size: cover;
  background-position: left;
  animation: skyfall infinite alternate-reverse 30s;
  opacity: 0.7;
}

@-webkit-keyframes skyfall {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes skyfall {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.gradient {
  overflow: hidden;
  position: relative;
}

.gradient img {
  max-height: 500px;
}

.gradient .bg-object {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 95%;
  width: 95%;
  background-image: -webkit-gradient(linear, left top, right top, from(#81018d), to(#023679));
  background-image: linear-gradient(90deg, #81018d, #023679);
  background-size: 500%;
  z-index: -1;
  -webkit-clip-path: polygon(75% 0, 0% 66%, 97% 93%);
          clip-path: polygon(75% 0, 0% 66%, 97% 93%);
  animation: movegradient infinite alternate-reverse 8s;
  opacity: 0.7;
}

@-webkit-keyframes movegradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes movegradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.portfolio-item h3 {
  font-size: 2.2rem;
}

.portfolio-item .tech span {
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: grey;
  letter-spacing: 0.2rem;
}

.portfolio-item .tech ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 15px;
}

.portfolio-item .tech li {
  padding: 2px 15px;
  color: grey;
  border-left: 1px solid lightgray;
  margin-bottom: 8px;
}

.draw-out {
  fill: transparent;
  stroke: #4e4e4e;
  stroke-width: 1px;
  stroke-dasharray: 2040px;
  stroke-dashoffset: -2040px;
  -webkit-transition: stroke-dashoffset 2s linear 0.8s, fill 0.8s ease;
  transition: stroke-dashoffset 2s linear 0.8s, fill 0.8s ease;
}

.draw-in {
  fill: #4e4e4e;
  stroke: #4e4e4e;
  stroke-dashoffset: 0px;
  -webkit-transition: stroke-dashoffset 2.5s linear, fill 0.8s ease 2s;
  transition: stroke-dashoffset 2.5s linear, fill 0.8s ease 2s;
}

.short-line {
  width: 25%;
  max-width: 100px;
  min-height: 3px;
  opacity: 1;
}

.icon {
  width: 100%;
  max-width: 80px;
  padding-bottom: 20px;
  fill: var(--pink);
}

.box {
  min-height: 350px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  padding: 30px;
}

.box:hover {
  -webkit-box-shadow: -1px -1px 11px 3px #d0d0d0;
          box-shadow: -1px -1px 11px 3px #d0d0d0;
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px 10px 10px 0px;
}

.hoverbox {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hoverbox:hover #hoverboxcontent {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.hoverbox:hover #hoverbox-title {
  opacity: 0;
}

.hoverbox .hoverbox-content {
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.8;
  background-color: rgba(168, 38, 180, 0.9);
  position: absolute;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  opacity: 0;
  color: white;
  z-index: 5;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  text-align: center;
  padding: 10px;
}

.hoverbox .hoverbox-title {
  color: white;
  position: absolute;
  font-family: var(--fontheading);
  font-size: 2.3rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  text-shadow: 5px 5px 10px black;
}
/*# sourceMappingURL=app.css.map */