<footer>
    <div id="footer" class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-lg-8 py-5 d-flex flex-column align-self-center">
                <span class="subhead pb-3">Advice is Free</span>
                <p class="display-5">We always start with understanding your project and giving my advice. It's free. We love talking about design and web development and helping people with their ideas. Let's start a conversation.</p>
                <hr class="my-5 short-line" />
                <a class="text-white display-6" href="mailto:info@amberandemerald.com">info@amberandemerald.com</a>
                <p class="text-muted">+353 (0)83 13 44 883</p>
                <p class="subhead pt-5">Connect</p>
                <div class="d-flex">
                    <a href="https://www.linkedin.com/in/logan-m-aa2629162/" target="_blank" class="social">
                        <img src="./media/linkedin.svg" alt="LinkedIn Logo" width="30px" height="30px" />
                    </a>
                    <a href="https://github.com/Sloggiebear" target="_blank" class="social">
                        <img src="./media/github.svg" alt="Github Logo" width="30px" height="30px" />
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-lg-flex align-items-end justify-content-end">
                <div class="text-center">
                    <a href="https://www.greengeeks.com/track/amberemerald" onclick="ggs_ggseal()"> <img class="p-2 scale" alt="greengeeks" src="https://static.greengeeks.com/ggseal/Green_12.png" /></a>
                    <script>
                        function ggs_ggseal() {
                            window.open("https://my.greengeeks.com/seal/", "_blank");
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="subfooter">
    <span>© Copyright Amber and Emerald Limited | Company Number: 663689</span>
</div>
